.container.item_name
  .row
    .col-xs-12
      %p.text-center Select Merchant

.container
  .row
    - @merchants.each do |merchant|
      .col-xs-4.merchant-avatar
        = link_to merchant do
          = image_tag merchant.avatar_path

